*.su
*.nm
*.pyc
*.log
*.a
*.o
*.obj
*.exe
*.bak
*~
*.dep
*.orig
*.hex
*.map
*.bin
*.out
*.sim
*.dbgdt
*.dni
*.jlink
*.wsdt
*.config
*.pbd
*.ewd
*.ewt
*.d
*.r90
*.r90
*.s90
*.d90
*.a90
*.pbi
*.cap
*.pcapng
*.pcap
*.patch
*.cout
*.lst
*.cap
*.csv
*.CAP
*.xcl
*.zip
*.wspos
*.browse
*.ewsample
*.asm
*.ind
*.7z
*.hex
*.elf
*.eep
*.emSession
*.depend
*.layout
*.dmp
tags
test-results.xml
.vscode/
.vs/
Debug/
settings/
*.componentinfo.xml
Backup*
BACnet_BDT_table
address_cache
**/build/*
**/_build/*
**/out/*
Obj/
Release/
libwebsockets/

# cmake artifacts
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
# zephyr artifacts
/twister-out/*
/test/build/
/cmake-build-*
/.idea

# doxygen artifacts
doc/output/html/

# exclude the bin folder, except for some files
bin/*
!bin/*.sh
!bin/*.bat
!bin/*.txt

# exclude the apps folder, except for some source files
apps/*
!apps/Makefile
!apps/*.md
apps/**/*
!apps/**/
!apps/**/*.c
!apps/**/*.h
!apps/**/*.txt
!apps/**/*.md
!apps/**/Makefile
!apps/**/CMakeLists.txt
apps/piface/libmcp23s17/
apps/piface/libpifacedigital/

*.vcxproj.user
.venv/
