*.log
*.a
*.o
*.exe
*.bak
*~
*.dep
*.orig
*.hex
*.map
*.bin
*.out
*.sim
*.dbgdt
*.dni
*.jlink
*.wsdt
*.config
*.pbd
*.ewd
*.ewt
*.d
*.r90
*.r90
*.s90
*.d90
*.a90
*.pbi
*.cap
*.pcapng
*.pcap
*.patch
*.cout
*.lst
*.cap
*.csv
*.CAP
*.xcl
*.zip
*.wspos
*.browse
*.ewsample
*.asm
*.ind
*.7z
*.hex
*.elf
*.eep
*.emSession
*.depend
*.layout
*.dmp
tags
test-results.xml
.vscode/
.vs/
Debug/
settings/
*.componentinfo.xml
bin/
Backup*
BACnet_BDT_table
address_cache
**/build/*
**/_build/*
CMakeLists.txt.user
**/out/*
Obj/
Release/
apps/piface/libmcp23s17/
apps/piface/libpifacedigital/

/test/build/
/cmake-build-*
/.idea

/apps/abort/bacabort
/apps/ack-alarm/bacackalarm
/apps/readfile/bacarf
/apps/writefile/bacawf
/apps/dcc/bacdcc
/apps/epics/bacepics
/apps/error/bacerror
/apps/event/bacevent
/apps/getevent/bacge
/apps/iam/baciam
/apps/iamrouter/baciamr
/apps/initrouter/bacinitr
/apps/netnumis/bacnni
/apps/server-client/bacpoll
/apps/readbdt/bacrbdt
/apps/reinit/bacrd
/apps/readfdt/bacrfdt
/apps/readprop/bacrp
/apps/readpropm/bacrpm
/apps/readrange/bacrr
/apps/scov/bacscov
/apps/server/bacserv
/apps/timesync/bacts
/apps/ucov/bacucov
/apps/uevent/bacuevent
/apps/uptransfer/bacupt
/apps/writebdt/bacwbdt
/apps/whohas/bacwh
/apps/whois/bacwi
/apps/whatisnetnum/bacwinn
/apps/whoisrouter/bacwir
/apps/writeprop/bacwp
/apps/writepropm/bacwpm
/apps/mstpcap/mstpcap
/apps/mstpcrc/mstpcrc
