language: c

dist: xenial

before_install:
  - sudo apt-get update
  - sudo apt-get -y install build-essential
  - sudo apt-get -y install gcc-arm-none-eabi
  - sudo apt-get -y install libnewlib-arm-none-eabi
  - sudo apt-get -y install gcc-avr avr-libc binutils-avr

compiler:
  - gcc
  - clang

jobs:
  - include:
    - stage: demos-build
      os: linux
      compiler: gcc
      script: make clean all
    - stage: demos-build-cmake
      os: linux
      compiler: gcc
      script: mkdir build && cd build && cmake .. && cmake --build . --clean-first
    - stage: gateway-build
      os: linux
      compiler: gcc
      script: make clean gateway
    - stage: mstp-build
      os: linux
      compiler: gcc
      script: make clean mstp
    - stage: lint
      os: linux
      compiler: clang
      # script: scan-build --status-bugs -analyze-headers -v make -j2 clean server
      script: skip
    - stage: ports-arm
      os: linux
      before_script:
        - arm-none-eabi-gcc --version
      script:
        - make stm32f10x
        - make at91sam7s
    - stage: ports-avr
      os: linux
      before_script:
        - avr-gcc --version
      script:
        - make atmega168
        - make bdk-atxx4-mstp

