language: c

compiler:
  - gcc
  - clang

jobs:
  - include:
    - stage: demos-build
      os: linux
      compiler: gcc
      script: make clean all
    - stage: demos-build-cmake
      os: linux
      compiler: gcc
      script: mkdir build && cd build && cmake .. && make clean all
    - stage: gateway-build
      os: linux
      compiler: gcc
      script: make clean gateway
    - stage: lint
      os: linux
      compiler: clang
      script: scan-build --status-bugs -analyze-headers -v make -j2 clean server
