# Feature configuration options for mongoose module

# Copyright (c) 2023 Legrand North America, LLC.
# SPDX-License-Identifier: MIT

menuconfig MONGOOSE_MODULE
	bool "MONGOOSE module"
	default y if BACDL_BSC
	help
	  Enable Zephyr module MONGOOSE

if MONGOOSE_MODULE

module = MONGOOSE
module-str = Log level for MONGOOSE module
module-help = Enable (Disable) MONGOOSE module debug message output
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

config BACNET_MONGOOSE
    bool "Add mongoose lib"
    default y if BACDL_BSC
    help
      This option enables the mongoose library

endif # MONGOOSE
