# Feature configuration options for BACnet-Stack

# Copyright (c) 2022 Legrand North America, LLC.
# SPDX-License-Identifier: MIT

if BACNETSTACK

config BACNET_USE_DYNAMIC_DESCRIPTION
	bool "Use dynalic allocate for objects descriptions"
	default false
	help
		Use dynalic allocate for objects descriptions

endif # BACNETSTACK
