name: GCC POSIX ARM AVR MinGW

on:
  push:
    branches:
      - master
  pull_request:
    branches:    
      - '*'

jobs:
  gateway:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build Gateway Demo
      run: make clean gateway

  router:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build Router Demo
      run: make clean router

  router-ipv6:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build Router IPv6 Demo
      run: make clean router-ipv6

  router-mstp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build Router MSTP Demo
      run: make clean router-mstp

  mstp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build MSTP Demos
      run: make clean mstp

  ethernet:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: 
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
    - name: Build Ethernet Demos
      run: make clean ethernet

  ports-arm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq build-essential
        sudo apt-get install -qq gcc-arm-none-eabi
        sudo apt-get install -qq libnewlib-arm-none-eabi
    - name: ports-arm
      run: |
        make clean
        arm-none-eabi-gcc --version
        make stm32f10x
        make stm32f4xx
        make at91sam7s

  ports-avr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq build-essential
        sudo apt-get install -qq gcc-avr avr-libc binutils-avr
    - name: ports-avr
      run: |
        avr-gcc --version
        make atmega168
        make bdk-atxx4-mstp

  mingw:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq build-essential
        sudo apt-get install -qq mingw-w64
    - name: Build Win32 Demos
      run: |
        export CC=i686-w64-mingw32-gcc
        export LD=i686-w64-mingw32-ld
        i686-w64-mingw32-gcc --version
        make win32

