name: Raspberry Pi

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
  
jobs:
  raspi-bip-apps:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq libconfig-dev
        sudo apt-get install -qq gcc-arm-linux-gnueabihf
    - name: Build Demo Apps
      run: |
        export CC=arm-linux-gnueabihf-gcc
        export LD=arm-linux-gnueabihf-ld
        arm-linux-gnueabihf-gcc --version
        make clean
        make LEGACY=true all

  piface:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Checkout libmcp23s17 repo
      uses: actions/checkout@v4
      with:
        repository: piface/libmcp23s17
        path: ./apps/piface/libmcp23s17
    
    - name: Checkout libpifacedigital repo
      uses: actions/checkout@v4
      with:
        repository: piface/libpifacedigital
        path: ./apps/piface/libpifacedigital

    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq gcc-arm-linux-gnueabihf
    
    - name: Build Piface libraries and demo 
      run: |
        export CC=arm-linux-gnueabihf-gcc
        export LD=arm-linux-gnueabihf-ld
        arm-linux-gnueabihf-gcc --version
        make -C apps/piface/libmcp23s17
        make -C apps/piface/libpifacedigital
        make CSTANDARD="-std=gnu11" LEGACY=true -s -C apps piface
  
blinkt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Create Build Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq gcc-arm-linux-gnueabihf
        sudo apt-get install -qq libpigpio-dev libpigpiod-if-dev pigpiod

    - name: Build Blinkt! demo
      run: |
        export CC=arm-linux-gnueabihf-gcc
        export LD=arm-linux-gnueabihf-ld
        arm-linux-gnueabihf-gcc --version
        make LEGACY=true blinkt
